doctype html
html(lang="en")
  head
    title Batoto Browser
  body
    h1 Batoto Browser
    h2 Followed Manga
    each manga in mangas
      ul
        //Just a test
        li #{manga.title}
        li #{manga.link}
        li #{manga.image}
