doctype html
html(lang="en")
  head
    title Batoto Browser
    link(rel="stylesheet", href="css/index.css")
  body
    h1 Batoto Browser
    h2 Followed Manga
    div(class='mangas container')
      each manga in mangas
        div(class='manga')
          a(href=manga.link)
            img(
              src=manga.image
              ,alt=manga.title
              ,style="width:280px;height:400px;"
            )
          h3(class="title") #{manga.title}
